<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Flight Price Predictor</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/materialize.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{{ url_for('static', filename='css/style.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>

<body>

  <div class="topnav">
    <a class="active" href="{{url_for('index')}}">Home</a>
    <div class="topnav-right">
      <a href="{{url_for('login')}}">Logout</a>
    </div>
  </div>

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center cyan-text">Flight Price Predictor</h1>

     <div class="row">
    <form action='/predict' method="post" class="col s12">
      <div class="row">
       
           <div class="input-field col s4">
           <label for="Source"><b>Source</b></label>
            <br> 
          <input list="Source_list" placeholder="Source City" name="Source" id="Source" type="text" class="validate" required="required">
             <datalist id="Source_list">
              <option value="Ahmedabad"></option>
              <option value="Bangalore"></option>
              <option value="Chennai"></option>
              <option value="Delhi"></option>
              <option value="Hyderabad"></option>
              <option value="Kolkata"></option>
              <option value="Mumbai"></option>
              <option value="Pune"></option>
             </datalist> 
        
        </div>

        <div class="input-field col s4">

          <label for="last_name"><b>Destination </b></label>
            <br>
         <input list="dest_list" id="last_name" name="Destination" placeholder="Destination City"  type="text" class="validate" required="required"> 
          <datalist id="dest_list">
            <option value="Ahmedabad"></option>
            <option value="Bangalore"></option>
            <option value="Chennai"></option>
            <option value="Delhi"></option>
            <option value="Hyderabad"></option>
            <option value="Kolkata"></option>
            <option value="Mumbai"></option>
            <option value="Pune"></option>
              
             </datalist> 

        </div>

        <div class="input-field col s4">
            <label for="_name"><b>Date and Departure Time</b></label>
            <br>
          <input id="_name" name="Date" type="datetime-local" class="validate" required="required">

        </div>

        <div class="input-field col s4">
            <label for="third_name"><b>Airline</b></label>
            <br>
          <input list="airline_list" placeholder="Airline Preferred" name="Airline" id="third_name" type="text" class="validate" required="required">
          <datalist id="airline_list">
            <option value="IndiGo"></option>
            <option value="Air India"></option>
            <option value="SpiceJet"></option>
            <option value="Vistara"></option>
            <option value="AirAsia India"></option>
            <option value="Akasa Air"></option>
            </datalist> 

        </div>
        <div class="input-field col s4">
            <label for=fifth_name"><b>Stops</b></label>
            <br>
          <input list="stop_list" placeholder="eg. 0 means NonStop" name="Stops" id="fifth_name" type="text" class="validate" required="required">
             <datalist id="stop_list">
               <option value="0">Non-Stop</option>
                <option value="1"/>
                <option value="2"/>
               <option value="3"/>
               <option value="4"/>
              
             </datalist> 

        </div>

      </div>

      <div class="row center">

          <button type="submit" class="btn-large waves-effect waves-light cyan">Predict Flight Price</button>
      </div>
    </form>
      </div>

      <br>
        {{pred}}<br>

    </div>
  </div>

    <br><br>
  </div>
  </div>>
  <div class="container">
    <footer class="page-footer cyan">
      <div class="container">
        <div class="row">
          <div class="col s12">
            <h5 class="white-text">Booking Links</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="https://www.goindigo.in/?,utm_source=google&utm_medium=cpc&utm_campaign=search_campaign_brand_domestic_google_bau_upto15off_15Nov2024&cid=Search|Brand|P|Domestic|Google_BAU|UpTo15Off|15Nov2024&s_kwcid=AL!12293!3!721306111581!b!!g!!indigo&gad_source=1&gclid=Cj0KCQiAo5u6BhDJARIsAAVoDWtSQpcV984QzMA3bVKZ6yJ_8EpEIZ_qtxg4cCA5c9nhNCpBXUT3ZWoaAsKlEALw_wcB">IndiGo</a></li>
              <li><a class="grey-text text-lighten-3" href="https://www.spicejet.com/"> SpiceJet</a></li>
              <li><a class="grey-text text-lighten-3" href="https://www.airindia.com/">Air India</a></li>
              <li><a class="grey-text text-lighten-3" href="https://www.airindia.com/">Vistara</a></li>
              <li><a class="grey-text text-lighten-3" href="https://www.airasia.com/flight/en/gb?gad_source=1&gclid=Cj0KCQiAo5u6BhDJARIsAAVoDWteQMS-IdbZztGE9JaVafgjr9FejktRq0tNruoGG3P4ZK61VFHk5wAaAjP2EALw_wcB">AirAsia India</a></li>
              <li><a class="grey-text text-lighten-3" href="https://www.akasaair.com/offers/sign-up-and-fly-more-akasa-discount-code?utm_source=google&utm_medium=cpc&utm_campaign=Akasa-Air-Performance-Dom-Google-Search-Brand-Core-Rest-of-India-Exact-IP&utm_content=General&utm_term=akasa%2Bair&gad_source=1&gclid=Cj0KCQiAo5u6BhDJARIsAAVoDWvPW5X-4kkom1Ryz0rk2m3iKqZ6uucQ7HFeFYCecKCxL-xyerJsbhUaAiTSEALw_wcB">Akasa Air</a></li>
              <li><a class="grey-text text-lighten-3" href="https://www.makemytrip.com/flights/?gclid=Cj0KCQiAo5u6BhDJARIsAAVoDWswApk7Gz3elsTYKjxl_o4AuN0rnY1qv9J9lups3fqiNlP9_1hPKA8aAkkGEALw_wcB&cmp=SEM|D|DF|G|Generic|Generic-Generic_DT|B_M_Makemytrip_Variants|Brand-Variants-Exact-2|RSA|Regular|V2|622487392958&s_kwcid=AL!1631!3!622487392958!e!!g!!mmt&ef_id=Cj0KCQiAo5u6BhDJARIsAAVoDWswApk7Gz3elsTYKjxl_o4AuN0rnY1qv9J9lups3fqiNlP9_1hPKA8aAkkGEALw_wcB:G:s&gad_source=1">MakeMyTrip</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </div>

  <script src="/static/js/validateInputs.js"></script>
  </body>
</html>
